.card{
  transition: transform .2s cubic-bezier(.175, .885, .32, 1.275),-webkit-transform .2s cubic-bezier(.175, .885, .32, 1.275);
  background-color: #fff;
  border-radius: 20px;
}
.card:hover{
  transform: scale(1.04);
}
.about{
  @include fluid(padding, 15px, 20px);
}
.main{
  width: 82%;
  margin: 40px auto;
  position: relative;
  &__title {
    @include fluid(font-size, 57px, 80px);
    font-size: 40px;
    margin: 40px auto;
    text-align: center;
    line-height: 1.1;
    font-weight: 600;
  }
  &__powerbanks{
    width: 100%;
    border-radius: 30px;
  }
}

@media screen and (max-width: $breakpoint-lg){
  .main{
    width: 100%;
    height: 600px;
    margin-top: 0;
    padding-top: 30px;
    border-radius: 30px;
    background-image: url("/images/about/powerbanks.webp");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    &__title {
      font-size: 38px;
      width: 100%;
      margin: 0;
    }
    &__powerbanks{
      display: none;
    }
  }
}

.storytell{
  @include fluid(margin-top, 130px, 170px);
  @include fluid(margin-bottom, 100px, 150px);
  h2{
    @include fluid(font-size, 40px, 55px);
    font-weight: 600;
    @include fluid(margin-top, 40px, 60px);
    @include fluid(margin-bottom, 40px, 60px);
    text-align: center;
  }
  &__founder{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
      @include fluid(width, 170px, 250px);
    }
    p{
      @include fluid(font-size, 20px, 30px);
    }
    &__name{
      margin-top: 20px;
    }
    &__position{
      color: #364b7d;
    }
  }
  &__text{
    @include fluid(font-size, 20px, 30px);
    @include fluid(width, 800px, 1000px);
    margin: 15px auto;
  }
}

@media screen and (max-width: $breakpoint-lg){
  .storytell{
    margin-top: 0;
    h2{
      @include fluid(font-size, 36px, 55px);
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: left;
    }
    &__founder{
      img{
        width: 119px;
      }
    }
    &__text{
      font-size: 16px;
      width: 100%;
    }
  }
}


.statistics{
  position: relative;
  margin: 0 auto;
  @include fluid(width, 900px, 1400px);
  img{
    border-radius: 30px;
    box-shadow: 0 4px 13px 0 rgb(0 0 0 / 8%), 0 20px 80px 0 rgb(0 0 0 / 5%);
  }
  img:nth-of-type(1){
    margin-bottom: 360px;
    max-width: 900px;
  }
  img:nth-of-type(2){
    margin-left: 300px;
    margin-right: 0;
    max-width: 700px;
  }
  img:nth-of-type(3){
    position: absolute;
    bottom: 150px;
    right: 0;
    max-width: 570px;
    z-index: -1;
  }
  &__card{
    box-shadow: 0 4px 13px 0 rgb(0 0 0 / 8%), 0 20px 80px 0 rgb(0 0 0 / 5%);
    display: flex;
    flex-direction: column;
    height: 320px;
    padding: 30px 20px;
    width: 350px;
    justify-content: space-between;
    &__number{
      @include fluid(font-size, 40px, 55px);
      font-weight: 600;
      color: #364b7d;
      margin-bottom: 15px;
    }
    &__info{
      font-size: 18px;
    }
    &__percents{
      font-size: 23px;
      color: #0076cb;
      background-color: rgba(0,118,203,.1);
      border-radius: 30px;
      width: max-content;
      padding: 7px 15px;
    }
  }
  
  &__card:nth-of-type(1){
    position: absolute;
    top: 570px;
    @include fluid(right, 100px, 435px);
  }
  &__card:nth-of-type(2){
    position: absolute;
    top: 720px;
    left: 0px;
  }
  &__card:nth-of-type(3){
    position: absolute;
    top: 350px;
    @include fluid(left, 50px, 250px);
  }
  &__card:nth-of-type(4){
    position: absolute;
    top: 200px;
    @include fluid(right, 50px, 200px);
  }
}

.reviews{
  @include fluid(margin-top, 100px, 150px);
  @include fluid(margin-bottom, 100px, 150px);
  h2{
    @include fluid(font-size, 60px, 80px);
    font-size: 40px;
    margin: 40px auto;
    text-align: center;
    line-height: 1.1;
    font-weight: 600;
  }
  &__articles{
    padding: 30px 20px;
    &__article{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      border-radius: 20px;
      max-width: 350px;
      overflow: hidden;
      min-height: 420px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%), 0 2px 3px 0 rgb(0 0 0 / 3%), 0 4px 5px 0 rgb(0 0 0 / 2%), 0 8px 10px 0 rgb(0 0 0 / 2%), 0 15px 18px 0 rgb(0 0 0 / 2%), 0 36px 45px 0 rgb(0 0 0 / 2%);
      img{
        height: 40px;
        margin-top: 30px;
      }
      &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      p{
        font-size: 25px;
        padding: 25px;
        text-align: center;
      }
      a{
        font-size: 25px;
        color: #fff;
        width: 100%;
        display: block;
        padding: 15px 0;
        text-align: center;
      }
      .retail{
        background-color: #ea534e;
      }
      .snob, .commersant, .village{
        background-color: black;
      }
      .rusbase{
        background-color: #ae485c;
      }
      .cnews{
        background-color: #17479d;
      }
      .rbk{
        background-color: #2a8288;
      }
      .forbes{
        background-color: #030b12;
      }
      .tass{
        background-color: #2c2a6f;
      }
      .afisha{
        background-color: #f66;
      }
      .ad{
        background-color: #e41e0a;
      }
      .vc{
        background-color: #feebef;
        color: black;
      }
    }
    &__review{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 350px;
      overflow: hidden;
      border-radius: 30px;
      min-height: 420px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 7%), 0 2px 3px 0 rgb(0 0 0 / 3%), 0 4px 5px 0 rgb(0 0 0 / 2%), 0 8px 10px 0 rgb(0 0 0 / 2%), 0 15px 18px 0 rgb(0 0 0 / 2%), 0 36px 45px 0 rgb(0 0 0 / 2%);
      &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        img{
          height: 40px;
          margin-top: 30px;
          padding-left: 25px;
        }
        p{
          font-size: 25px;
          padding: 25px;
        }
      }
      &__source{
        display: flex;
        align-items: center;
        background-color: #dae9fb;
        width: 100%;
        padding: 20px 25px;
        img{
          width: 20px;
          margin-right: 15px;
        }
        p{
          font-size: 25px;
          color: #364b7d;
        }
      }

    }
  }
}


