@import './global.scss';

//pages
@import './pages/_about.scss';
@import './pages/_business.scss';

.container {
  max-width: 1140px;
  margin: 0 auto;
  flex: 1 0 auto;
  z-index: 4;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  flex: 1 0 auto;
  z-index: 4;
}
.wrapper_blur {
  filter: blur(10px);
}

//header

.header {
  @include fluid(padding, 15px, 10px);
  display: flex;
  justify-content: space-between;
  &__logo {
    display: flex;
    transition: 0.2s linear;
    &:hover {
      scale: 1.1;
      background-color: rgb(211, 208, 208);
      border-radius: 10px;
    }
    &-img {
      width: 10%;
    }
    &-title {
      font-size: 30px;
      font-weight: 800;
      color: #000;
    }
    &-text {
      font-size: 10px;
      color: black;
      padding-left: 10px;
      @include fluid(width, 100px, 80px);
    }
    &-link {
      display: flex;
      align-items: center;
    }
  }
}
.nav {
  display: flex;
  justify-content: center;
  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__link {
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s linear;
  }
  &__contacts {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 80px;
    transition: 0.2s linear;
    cursor: pointer;
    &-img {
      width: 8%;
      margin-left: 5px;
    }
    &-text {
      font-size: 16px;
      font-weight: 600;
    }
    a {
      color: black;
    }
  }
}

//hero

.hero {
  &__content {
    margin-top: 70px;
    &-title {
      font-weight: 400;
      font-size: 70px;
      line-height: 1.1;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 50px;
    }
    &-btn {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin-right: 15px;
        img {
          cursor: pointer;
        }
      }
    }
    &-video {
      margin: 0 auto;
      @include fluid(margin-top, 40px, 80px);
      max-width: 1100px;
      img {
        border-radius: 20px;
        width: 100%;
      }
    }
  }
  &__info {
    display: flex;
    margin-top: 90px;
    margin-bottom: 50px;

    &-text {
      font-weight: 400;
      font-size: 50px;
      max-width: 60%;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      padding: 30px;
      border-radius: 20px;
      p {
        color: rgb(157, 157, 157);
        max-width: 100%;
      }
    }
    &-aside {
      position: relative;
      z-index: 4;
      display: flex;
      justify-content: flex-end;
    }
    &-phone {
      width: 80%;
      position: relative;
      z-index: 3;
      background-image: url(/src/images/map.jpeg);
      background-size: 59%;
      background-repeat: no-repeat;
      background-position: 75px 20px;
    }
    &-map {
      position: absolute;
      top: 15px;
      right: 70px;
      width: 48%;
      z-index: 1;
      border-radius: 20px;
    }
  }
}
.btn__install {
  background-color: black;
  color: #fff;
  padding: 30px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  width: 350px;
  cursor: pointer;
  display: flex;
  align-items: center;
  p {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  img {
    margin-top: 2px;
    width: 30px;
  }
}

.price {
  background-color: rgb(216, 213, 213);
  padding: 35px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  &__left {
    padding: 30px;
    width: 70%;
    &-img {
      width: 10%;
      margin-bottom: 20px;
    }
    &-title {
      margin-bottom: 20px;
      font-size: 50px;
      font-weight: 300;
    }
    &-text {
      width: 70%;
      font-weight: 300;
      padding-left: 9px;
    }
  }
  &__right {
    background-color: #efefef;
    padding: 30px;
    border-radius: 30px;
    &-title {
      font-size: 30px;
      margin-bottom: 50px;
      text-align: center;
    }
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      a {
        margin-right: 20px;
        cursor: pointer;
      }

      &-link {
        padding: 30px;
        border-radius: 50px;
        background-color: black;
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        p {
          margin-right: 10px;
        }
        img {
          width: 30px;
          margin-top: 2px;
        }
      }
    }
  }
}

.tabs {
  @include fluid(margin-bottom, 40px, 80px);
  &-title {
    font-size: 30px;
    text-align: center;
    @include fluid(margin-bottom, 10px, 30px);
  }

  &__name {
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #f1f0f0;
    border-radius: 40px;
    width: 35%;
    margin: 0 auto;
    @include fluid(margin-bottom, 20px, 30px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    &-item {
      padding: 8px;
      font-size: 18px;
      background-color: #f1f0f0;
      @include fluid(margin-right, 10px, 20px);
    }
  }
  &-active {
    background-color: #9ebee0;
    border-radius: 20px;
    padding: 0px 15px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    &__left {
      @include fluid(padding-top, 20px, 30px);
      width: 50%;
      &-title {
        @include fluid(margin-bottom, 20px, 30px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
        font-size: 30px;
      }
      &__person {
        display: flex;
        align-items: center;
        &-desc {
          @include fluid(margin-left, 10px, 20px);
        }
        &-img {
          width: 10%;
        }
        &-name {
          font-size: 14px;
          font-weight: 300;
        }
        &-text {
          font-size: 14px;
        }
      }
    }
    &__right {
      @include fluid(padding-top, 20px, 30px);
      &-month {
        width: 60%;
        @include fluid(margin-bottom, 30px, 70px);
      }
      &-money {
        border: 1px solid #9ebee0;
        padding: 10px;
        width: 70%;
        text-align: center;
        border-radius: 20px;
      }
    }
  }
  &-hidden {
    display: none;
  }
  &-show {
    display: flex;
  }
}

// main

.info {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #9ebee0;
  border-radius: 30px;
  display: flex;
  margin-bottom: 60px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  &__desc {
    padding: 30px;
    &-title {
      padding-top: 30px;
      font-size: 45px;
      margin-bottom: 30px;
      font-weight: 400;
    }
    &-text {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 30px;
    }
    &-btn {
      padding: 15px;
      border-radius: 20px;
    }
  }
}
.aside {
  &__desc {
    width: 40%;
  }
}
.advantages {
  display: flex;
  justify-content: space-between;
  @include fluid(margin-bottom, 40px, 50px);
  &__aside {
    @include fluid(width, 650px, 400px);
    &-title {
      font-size: 44px;
      margin-bottom: 30px;
    }
    &-text {
      font-size: 20px;
      font-weight: 200;
      margin-bottom: 40px;
    }
    &-btn {
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 50px;
      background-color: black;
      @include fluid(width, 250px, 270px);
      a {
        color: #fff;
        font-size: 20px;
        padding-left: 7px;
      }
      img {
        @include fluid(margin-top, 2px, 2px);
        @include fluid(margin-left, 10px, 10px);
        width: 30px;
      }
    }
    &-video {
      @include fluid(width, 300px, 400px);
      @include fluid(padding-top, 20px, 40px);
      border-radius: 50%;
    }
  }
  &__main {
    width: 500px;
    &__item {
      @include fluid(padding-bottom, 10px, 20px);
      &-img {
        @include fluid(width, 50px, 70px);
        @include fluid(margin-bottom, 10px, 20px);
      }
      &-title {
        font-size: 20px;
      }
    }
  }
}
.founder {
  display: flex;
  justify-content: space-between;
  &__about {
    @include fluid(width, 350px, 400px);
    @include fluid(margin-right, 20px, 30px);
    &-img {
      @include fluid(padding-bottom, 10px, 20px);
    }
    &-name {
      text-align: center;
      font-size: 24px;
      word-break: break-all;
    }
    &-text {
      text-align: center;
    }
  }
  &__text {
    @include fluid(padding, 15px, 20px);
    @include fluid(margin-bottom, 5px, 10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    font-size: 28px;
    line-height: 1.4;
    font-weight: 300;
    &-btn {
      @include fluid(padding, 10px, 15px);
      @include fluid(margin-top, 20px, 25px);
      background-color: #9ebee0;
      border-radius: 30px;
      p {
        font-size: 14px;
        font-weight: 200;
        padding: 2px 15px;
      }
    }
  }
}
.promo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include fluid(margin-top, 50px, 65px);
  margin-bottom: 80px;
  &-qr {
    width: 20%;
    height: 20%;
  }
  &__mobile {
    &-phone {
      width: 300px;
      background-image: url(../images/map.jpeg);
      background-size: 59%;
      background-repeat: no-repeat;
      background-position: 60px 20px;
    }
    &-map {
      position: absolute;
      width: 9%;
      z-index: 1;
      border-radius: 20px;
    }
  }
  &__info {
    width: 20%;
    &-img {
      width: 20%;
      @include fluid(margin-bottom, 20px, 30px);
    }
    &-text {
      font-size: 30px;
    }
  }
}

//footer
.container-footer {
  max-width: 1480px;
  margin: 0 auto;
  @include fluid(margin-top, 60px, 100px);
}
.footer {
  background-color: black;
  border-radius: 10px 10px 0 0;
  padding: 30px;
  margin-bottom: -350px;
  // flex: 0 0 auto;

  &__logo {
    display: flex;
    &-img {
      width: 10%;
    }
    &-title {
      font-size: 30px;
      font-weight: 800;
      color: #fff;
    }
    &-text {
      font-size: 15px;
      color: #fff;
      padding-left: 10px;
      @include fluid(width, 100px, 80px);
    }
    &-link {
      display: flex;
      align-items: center;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &-link {
        cursor: pointer;
        @include fluid(margin-right, 10px, 20px);
      }
      &-img {
        width: 45px;
      }
      &-btn {
        padding: 15px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        a {
          text-align: center;
          color: black;
          font-size: 16px;
        }
        img {
          @include fluid(margin-left, 5px, 5px);
          width: 30px;
        }
      }
    }
  }
  &__link {
    &-row {
      @include fluid(margin-top, 20px, 30px);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 95%;
        background-color: #616060;
        bottom: -20px;
      }
      a {
        color: #fff;
        font-size: 18px;
        padding: 0 10px;
        text-align: center;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    @include fluid(margin-top, 20px, 30px);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 95%;
      background-color: #616060;
      bottom: -5px;
    }
    &__contacts {
      display: flex;
      align-items: center;
      &-link {
        display: flex;
        color: #fff;
        align-items: center;
        @include fluid(margin-right, 20px, 30px);
        img {
          @include fluid(margin-right, 5px, 10px);
          width: 35px;
        }
        p {
          font-size: 24px;
        }
      }
      &-btns {
        img {
          width: 35px;
        }
      }
    }

    &-link {
      color: #fff;
      font-size: 30px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    &-link {
      color: #fff;
      @include fluid(padding-top, 20px, 30px);
      @include fluid(margin-right, 20px, 40px);
    }
    &__title {
      display: flex;
      align-items: center;
      @include fluid(margin-top, 10px, 20px);
      &-text {
        @include fluid(margin-left, 5px, 10px);
        color: #0fdfa0;
        font-size: 18px;
      }
    }
  }
  &__warning {
    color: #fff;
    font-size: 12px;
    line-height: 1.4;
  }
}

.gift {
  width: 120px;
  height: 170px;
  background-color: rgba(255, 195, 79, 0.88);
  padding: 9px;
  border-radius: 15px;
  position: sticky;
  bottom: 25%;
  left: 90%;
  right: 10%;
  z-index: 33;
  &:hover {
    scale: 1.3;
  }
  &-qr {
    width: 100%;
  }
  &-text {
    font-size: 14px;
  }
}

.question {
  @include fluid(margin-top, 40px, 80px);
  @include fluid(margin-bottom, 40px, 80px);

  &__title {
    font-size: 36px;
    text-align: center;
    @include fluid(margin-bottom, 20px, 40px);
  }
  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 8px;
    margin: 0px 250px;
    @include fluid(padding-bottom, 5px, 10px);
    position: relative;
    &:nth-child(2) {
      border-radius: 10px 10px 0 0;
    }

    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #9ebee0;
      left: 0;
      bottom: -3px;
      z-index: 2;
    }

    &-text {
      font-size: 18px;
      font-weight: 300;
    }
    &-img {
      width: 20px;
      @include fluid(margin-right, 20px, 20px);
      rotate: 90;
    }
    &-img-up {
      transition: ease-out 0.5s;
      transform: rotate(180deg);
    }
  }
  &__answer {
    background-color: #fff;
    margin: 0px 250px;
    margin-top: -10px;
    @include fluid(margin-bottom, 5px, 10px);
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
    border-radius: 0px 0px 20px 20px;

    &-item {
      @include fluid(padding-bottom, 10px, 10px);
    }
    &-text {
      padding: 20px 10px;
    }
  }
  &__hidden {
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }
}

// Burger

.burger {
  height: 35px;
  width: 50px;
  @include fluid(margin-top, 2px, 3px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  &__bar {
    width: 50px;
    height: 4px;
    background-color: rgb(0, 183, 255);
    border-radius: 20px;
  }

  &-unclick {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  &-clicked {
    transition: ease-out 0.5s;
    &:nth-child(1) {
      transform: rotate(45deg) translate(4px, 20px);
      transition: ease-out 0.5s;
    }
    &:nth-child(2) {
      transform: scale(0.01);
      transition: ease-out 0.5s;
    }
    &:nth-child(3) {
      transform: rotate(135deg) translate(-2px, 20px);
      transition: ease-out 0.5s;
    }
  }
  &__window {
    position: absolute;
    top: 50px;
    // left: 56%;
    width: 20%;
    z-index: 999999999;
    background-color: #efeded;
    border: 1px solid #9ebee0;
    padding: 15px;
    border-radius: 20px;
    &-list {
      @include fluid(margin-bottom, 30px, 40px);
    }
    &-item {
      @include fluid(margin-bottom, 10px, 15px);
      position: relative;
      text-align: center;
      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #9ebee0;
        bottom: -3px;
        left: 0;
      }
    }
    &-link {
      color: black;
    }
    &-tel {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        @include fluid(margin-right, 10px, 20px);
        width: 10%;
      }
    }
  }
}
.hidden {
  display: none;
}

.visible {
  display: inherit;
}
@import './media.scss';
