
<div class="about__wrapper">
    <h1 class="about__title">Поговорим наизнанку.<br/>
        Немного откровенностей</h1>
    <img class="about__powerbanks" src="/images/about/powerbanks.jpg" alt="Пауэрбанки">
    <div class="storytell">
        <div class="storytell__founder">
            <img src="/images/founder.png" alt="Кирилл Кулаков">
            <p class="name">Кирилл Кулаков</p>
            <p class="position">основатель «Бери заряд!»</p>
        </div>
        <h2>В тот раз я не вернул пауэрбанк</h2>
        <p class="text">Тёплый ветер Швейцарии, прекрасный вечер и телефон, который вот-вот сядет. Я был в Цюрихе первый раз и понимал, что со встречи мне предстоит как-то добраться до отеля. В карманах нет налички, а все оплаты я совершаю через Apple Pay. Через 4 часа у меня обратный рейс, а в руках — телефон, который сел, пока я пытался заказать такси.</p>
        <p class="text">Весь в мыслях о своей проблеме, я наткнулся на павильон — как сейчас помню — под названием Kiosk. Это местная сеть небольших магазинов по продаже снеков, табака и газет. Там я купил пауэрбанк и продавец сказал мне, что если я верну его в течение одной недели, то 50% стоимости вернётся назад. Но более вероятно, что я его просто выкину. Тогда я задумался, как обычно использую пауэрбанки.</p>
        <p class="text">У меня, как и у большинства читателей этого текста, есть несколько пауэрбанков дома и я постоянно забываю их зарядить. По закону подлости вспоминаю об этом, когда на телефоне остается пара процентов, а я опаздываю на встречу. История с возвратом пауэрбанка за 50% от его стоимости привела меня к идее о сервисе зарядок: садится телефон — взял пауэрбанк, зарядился — вернул и пошел дальше.</p>
        <p class="text">В тот день я действительно не вернул пауэрбанк. Но именно с него началась история «Бери заряд!»</p>
    </div>
    <div class="stat">
        
        <img src="/images/about/statistics1.jpg" alt="Пауэрбанк в кафе">
        
        <img src="/images/about/statistics3.jpg" alt="Автомат с пауэрбанками">
        <img src="/images/about/statistics2.png" alt="Пауэрбанк и телефон">
        <div class="statistics">
            <div class="card cardStat">
                <div>
                    <p class="mainNumberStat">130 тыс.</p>
                    <p class="infoStat">прирост пользователей
                        за последний месяц</p>
                </div>
            </div>
            <div class="card cardStat">
                <div>
                    <p class="mainNumberStat">26 тыс.</p>
                    <p class="infoStat">активных пользователей каждый день</p>
                </div>
            </div>
            <div class="card cardStat">
                <div>
                    <p class="mainNumberStat">1,5 млн</p>
                    <p class="infoStat">общее количество пользователей «Бери заряд!»</p>
                </div>
                <p class="percentsStat">+146% за год</p>
            </div>
            <div class="card cardStat">
                <div>
                    <p class="mainNumberStat">&gt;10 тыс</p>
                    <p class="infoStat">станций в 80+ городах и 3 странах</p>
                </div>
                <p class="percentsStat">+159% за год</p>
            </div>
        </div>
    </div>
     
</div>
<div class="reviews">
    <h2>О нас пишут</h2>
    <div class="swiperArticles">
        <div class="swiper-wrapper">
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/rusbase.png" alt="RUSBASE">
                    <p>Инструкция — как открыть международную франшизу</p>
                </div>
                <a href="#" class="rusbase">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/rbk.png" alt="РБК">
                    <p>Рейтинг РБК: топ-50 самых востребованных франшиз</p>
                </div>
                <a href="#" class="rbk">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/rusbase.png" alt="RUSBASE">
                    <p>Как цифровой бизнес живет и работает в новой реальности</p>
                </div>
                <a href="#" class="rusbase">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/rbk.png" alt="РБК">
                    <p>Стартап стремительно растет. Как перестроить работу ИТ-департамента</p>
                </div>
                <a href="#" class="rbk">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/cnews.png" alt="CNEWS">
                    <p>Станции Бери заряд появятся в сети салонов «Мегафона»</p>
                </div>
                <a href="#" class="cnews">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/cnews.png" alt="CNEWS">
                    <p>«Бери заряд!» утилизирует использованные портативные аккумуляторы</p>
                </div>
                <a href="#" class="cnews">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/retailroyalty.png" alt="Retail & Royalty">
                    <p>В Азбуке вкуса появилась аренда пауэрбанков</p>
                </div>
                <a href="#" class="retail">Читать →</a>
        </div>
        <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/snob.png" alt="Snob">
                    <p>Кирилл Кулаков: что мешает развитию шеринговой экономики в России</p>
                </div>
                <a href="#" class="snob">Читать →</a>
        </div>
        <div class="swiper-slide article card">
            <div class="articleInfo">
                <img src="/images/about/rusbase.png" alt="RUSBASE">
                <p>«Бери заряд!» на всех вокзалах: компания по аренде пауэрбанков заключила договор с РЖД</p>
            </div>
            <a href="#" class="rusbase">Читать →</a>
        </div>
        <div class="swiper-slide article card">
            <div class="articleInfo">
                <img src="/images/about/cnews.png" alt="CNEWS">
                <p>В Краснодарском крае запустился сервис по аренде пауэрбанков «Бери заряд!»</p>
            </div>
            <a href="#" class="cnews">Читать →</a>
        </div>
        </div>
    </div>
    <div class="swiperArticles">
        <div class="swiper-wrapper">
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/forbes.png" alt="Forbes">
                    <p>«Большая редкость для рынка»: «Бери заряд!» привлёк 431 млн рублей при оценке в 1,35 млрд рублей</p>
                </div>
                <a href="#" class="forbes">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/commersant.png" alt="Коммерсантъ">
                    <p>Сеть проката пауэрбанков в Татарстане увеличат до 250 станций</p>
                </div>
                <a href="#" class="commersant">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/tass.png" alt="ТАСС">
                    <p>«Энергетический заряд»</p>
                </div>
                <a href="#" class="tass">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/rusbase.png" alt="RUSBASE">
                    <p>Как сформировать сильную команду: 5 советов от руководителя</p>
                </div>
                <a href="#" class="rusbase">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/rbk.png" alt="РБК">
                    <p>Дайджест шеринга № 18</p>
                </div>
                <a href="#" class="rbk">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/afisha.png" alt="Афиша Daily">
                    <p>В Петербурге заработал сервис по аренде зарядных устройств «Бери заряд!»</p>
                </div>
                <a href="#" class="afisha">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/adindex.png" alt="Афиша Daily">
                    <p>Деловая программа AdIndex City Conference 2021</p>
                </div>
                <a href="#" class="ad">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/vc.png" alt="vc.ru">
                    <p>Сервис аренды аккумуляторов «Бери заряд!» договорился с РЖД об установке станций на вокзалах</p>
                </div>
                <a href="#" class="vc">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/forbes.png" alt="Forbes">
                    <p>Как заработать 120 млн рублей на разряженных телефонах. Бизнес-план «Бери заряд!»</p>
                </div>
                <a href="#" class="forbes">Читать →</a>
            </div>
            <div class="swiper-slide article card">
                <div class="articleInfo">
                    <img src="/images/about/village.png" alt="The Village">
                    <p>Аренда пауэрбанков «Бери заряд!» обойдётся в 100 ₽ в сутки</p>
                </div>
                <a href="#" class="village">Читать →</a>
            </div>
        
        </div>
        
    </div>
    <div class="swiperArticles">
        <div class="swiper-wrapper">
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Клиентский сервис хороший. Закрывают все недостатки, с которыми можно столкнуться при использовании приложения</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/google.svg" alt="Google Play">
                    <p>Google Play</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Зарядил свой и девушки, заряда павербанка хватило на две полные зарядки</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/apple.svg" alt="App Store">
                    <p>App Store</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Отличный прокат повербанков, последний месяц приложение стало заметно быстрым, молодцы</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/apple.svg" alt="App Store">
                    <p>App Store</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Доволен и всем рекомендую, нет проблем ни со взятием, ни с возвратом</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/apple.svg" alt="App Store">
                    <p>App Store</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Крутой сервис, удобно! Пользуюсь регулярно, станции с зарядками реально повсюду</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/google.svg" alt="Google Play">
                    <p>Google Play</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Единственный нормальный повербанк-шеринг</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/google.svg" alt="Google Play">
                    <p>Google Play</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Круто, что такое существует и вообще есть в моем небольшом городе. Всё чётко</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/google.svg" alt="Google Play">
                    <p>Google Play</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Теперь не страшно поехать без своего повербанка — почти везде можно взять в аренду</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/google.svg" alt="Google Play">
                    <p>Google Play</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Крутой сервис! Сидел в кафе по работе общался, садился телефон, спросил у официанта — мне показали станцию</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/google.svg" alt="Google Play">
                    <p>Google Play</p>
                </div>
            </div>
            <div class="swiper-slide review">
                <div class="reviewInfo">
                    <img src="/images/about/stars.png" alt="Stars">
                    <p>Не надо таскать с собой свой тяжёлый повербанк и волноваться, что телефон сядет, ведь есть вы 🥰</p>
                </div>
                <div class="sourceInfo">
                    <img src="/images/about/apple.svg" alt="App Store">
                    <p>App Store</p>
                </div>
            </div>
        </div>
    </div>
</div>
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script type="module">
  var swiper = new Swiper(".swiperArticles", {
    slidesPerView: 'auto',
    spaceBetween: 30,
    loop: true,
  });
</script> 