---
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<div class="container">
  <Header />

</div>
<div class="wrapper">
  <div class="container">
    <div class="business">
      <div class="hero__content">
        <h2 class="hero__content-title">
          Поставь зарядную станцию в офис или в заведение. <br />Бесплатно
        </h2>
        <div class="hero__content-btn">
          <a class="btn__install">
            <p>Установить приложение</p>
            <img class="btn__install-img" src="/assets/icons/arrow-right.png" alt="arrow-icon" />
          </a>
          <a class="btn-ios">
            <img src="/assets/icons/ios.svg" alt="ios-img" />
          </a>
          <a class="btn-android">
            <img src="/assets/icons/play.svg" alt="android-img" />
          </a>
        </div>
        <div class="hero__content-video">
          <img src="/assets/business-img.png" alt="video-img" />
        </div>
      </div>
      <div class="hero__info">
        <div class="hero__info-text">
          Бесплатно установим станцию. Поможем привлечь поток новых посетителей,<p>
            которые придут, чтобы зарядить телефон. Получи доступ к миллионной аудитории.
          </p>
        </div>
        <div class="hero__info-aside">
          <img class="hero__info-phone" src="/assets/phone.jpg" alt="phone-img" />
        </div>
      </div>
      <div class="advantages">
        <div class="advantages__aside">
          <h2 class="advantages__aside-title">В чём выгода</h2>
          <p class="advantages__aside-text">
            Поставим станцию бесплатно и возьмём на себя полное сопровождение.
          </p>
          <button class="advantages__aside-btn">
            <a href="">Как это работает?</a>
            <img src="/assets/icons/arrow-right.png" alt="arrow-icon" />
          </button>
        </div>
        <div class="advantages__main">
          <ul class="advantages__main__list">
            <li class="advantages__main__item">
              <img
                class="advantages__main__item-img"
                src="/assets/icons/number-1.svg"
                alt="set-icon"
              />
              <h4 class="advantages__main__item-title">
                Поставь станцию на видном месте и расскажи о ней посетителям.
              </h4>
            </li>
            <li class="advantages__main__item">
              <img
                class="advantages__main__item-img"
                src="/assets/icons/number-2.svg"
                alt="set-icon"
              />
              <h4 class="advantages__main__item-title">
                Каждый день нашим сервисом пользуется 20 000 человек — они увидят твоё заведение на
                карте. Ты можешь сделать свою станцию бесплатной для клиентов.
              </h4>
            </li>

            <li class="advantages__main__item">
              <img
                class="advantages__main__item-img"
                src="/assets/icons/number-3.svg"
                alt="set-icon"
              />
              <h4 class="advantages__main__item-title">
                В среднем станция окупается за полгода. Проверяй статистику в личном кабинете —
                платежи, доходы и расходы. Станцию можно выкупить — тогда поделим прибыль.
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</div>
