---
import Header from './Header.astro';
import Footer from './Footer.astro';
import Question from './little/Question.astro';
---

<Header />
<div class="wrapper">
  <div class="container">
    <div class="contacts">
      <div class="contacts-title">Отвечаем 24/7</div>
      <img src="/assets/contacts.png" alt=" contact-img" class="contacts-img" />
      <div class="contacts__btns">
        <div class="contacts__btns-phone"></div>
        <div class="contacts__btns-mail"></div>
      </div>
    </div>
  </div>
  <Question />
</div>
<Footer />
