---
import logo from '../images/logo.png';
import arrow from '../images/icons/arrow-right.png';
---

<div class="container-footer">
  <footer class="footer">
    <div class="footer__head">
      <div class="footer__logo">
        <a class="footer__logo-link" href="">
          <img class="footer__logo-img" src={logo} alt="logo-img" />
          <h2 class="footer__logo-title">Заряд тут!</h2>
          <p class="footer__logo-text">пауэрбанк станции</p>
        </a>
      </div>
      <div class="footer__head__row">
        <a href="#" class="footer__head__row-link">
          <img
            src="./images/icons/apple_white.svg"
            alt="footer icon"
            class="footer__head__row-img"
          />
        </a>
        <a href="#" class="footer__head__row-link">
          <img
            src="./images/icons/play_color.svg"
            alt="footer icon"
            class="footer__head__row-img"
          />
        </a>

        <button class="footer__head__row-btn">
          <a href="#">Установить приложение</a>
          <img src="./images/icons/arrow_black.png" alt="arrow-icon" />
        </button>
      </div>
    </div>
    <div class="footer__link-row">
      <a href="/map" class="footer__link-map">Карта станций</a>
      <a href="/partners" class="footer__link-partners">Инвесторам и партнёрам</a>
      <a href="/place" class="footer__link-place">Разместить станцию</a>
      <a href="/products" class="footer__link-products">Оборудование</a>
      <a href="/products" class="footer__link-products">Тарифы</a>
      <a href="/pricing" class="footer__link-pricing">О нас</a>
      <a href="/contacts" class="footer__link-contacts">Контакты</a>
      <a href="/popup" class="footer__link-popup">Оставить заявку</a>
    </div>
    <div class="footer__info">
      <a href="tel:+78001234567" class="footer__info-link">8 800 123 45 67</a>
      <div class="footer__info__contacts">
        <a href="#" class="footer__info__contacts-link">
          <img src="./images/icons/mail.png" alt="mail" />
          <p>info@mail.ru</p>
        </a>
        <a href="#" class="footer__info__contacts-link">
          <img src="./images/icons/telegram.svg" alt="telegram" />
          <p>@telegram</p>
        </a>
        <div class="footer__info__contacts-btns">
          <img src="./images/icons/vk.svg" alt="vk" />
          <img src="./images/icons/youtube.svg" alt="youtube" />
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <a href="#" class="footer__bottom-link">
        <p>2018-2022 ® Заряд тут!, Москва, ул. Московская, д. 1к1</p>
      </a>
      <a href="#" class="footer__bottom-link">
        <p>Дизайн — Дизайн</p>
      </a>
      <a href="#" class="footer__bottom-link"> Правовые договоры и соглашения</a>
    </div>
    <div class="footer__bottom__title">
      <img src="./images/icons/ivanovo.svg" alt="" class="footer__bottom__title-img" />
      <p class="footer__bottom__title-text">
        Исследования осуществляются ООО «Заряд тут!» при грантовой поддержке фонда «Иваново»
      </p>
    </div>
    <p class="footer__warning">
      ООО «Заряд!» занимается разработкой оборудования собственного производства, ПО для создания и
      развития сетей аппаратов аренды аккумуляторов для мобильных устройств в рамках организаций,
      мероприятий и территорий, а также мобильного приложения — для аренды зарядных устройств
      конечными пользователями
    </p>
  </footer>
</div>

<div class="gift">
  <img src="./images/icons/promo_qr.png" alt="gift" class="gift-qr" />
  <p class="gift-text">150 ₽ бонус — первая аренда бесплатная</p>
</div>
