---
import logo from '../images/logo.png';
import contact from '../images/icons/ok.svg';
import Burger from './Burger.astro';
---

<header>
  <div class="container">
    <div class="header">
      <div class="header__logo">
        <a class="header__logo-link" href="">
          <img class="header__logo-img" src={logo} alt="logo-img" />
          <h2 class="header__logo-title">Заряд тут!</h2>
          <p class="header__logo-text">пауэрбанк станции</p>
        </a>
      </div>
      <nav class="nav">
        <ul class="nav__items">
          <li class="nav__item">
            <a class="nav__link" href="#">Для бизнеса</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Тарифы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Карта станций</a>
          </li>
        </ul>
        <div class="nav__contacts">
          <a href="#">
            <div class="nav__contacts-text">Контакты и поддержка</div>
          </a>
          <img src={contact} alt="contacts-img" class="nav__contacts-img" />
        </div>
        <Burger />
      </nav>
    </div>
  </div>
</header>
