---
import logo from '../images/logo.png';
import contact from '../images/icons/ok.svg';
---

<header>
  <div class="container">
    <div class="header">
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img class="header__logo-img" src={logo} alt="logo-img" />
          <h2 class="header__logo-title">Заряд тут!</h2>
          <p class="header__logo-text">пауэрбанк станции</p>
        </a>
      </div>
      <nav class="nav">
        <ul class="nav__items">
          <li class="nav__item">
            <button class="nav__link nav__link-btn">Для бизнеса</button>
            <img src="./images/icons/arrow-blue.svg" alt="" class="nav__link-img" />
            <div class="nav__link__content">
              <a class="nav__link__content-business" href="/business">
                <h5>Разместить у себя</h5>
                <p>Зарядные станции в твоём заведении</p>
              </a>
              <a class="nav__link__content-business" href="#">
                <h5>Инвестиции и франшиза</h5>
                <p>Зарабатывайте вместе с нами</p>
              </a>
              <a class="nav__link__content-business" href="#">
                <h5>Подробнее про оборудование</h5>
                <p>Пауэрбанки и зарядные станции</p>
              </a>
            </div>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/pricing">Тарифы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/about">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/map">Карта станций</a>
          </li>
        </ul>
        <div class="nav__contacts">
          <a href="/contacts">
            <div class="nav__contacts-text">Контакты и поддержка</div>
          </a>
          <img src={contact} alt="contacts-img" class="nav__contacts-img" />
        </div>
        <div class="burger">
          <div class="burger__bar burger-unclick"></div>
          <div class="burger__bar burger-unclick"></div>
          <div class="burger__bar burger-unclick"></div>
        </div>
        <div class="burger__window hidden">
          <ul class="burger__window-list">
            <li class="burger__window-item">
              <a href="#" class="burger__window-link">Для бизнеса</a>
            </li>
            <li class="burger__window-item">
              <a href="#" class="burger__window-link">Тарифы</a>
            </li>
            <li class="burger__window-item">
              <a href="#" class="burger__window-link">О нас</a>
            </li>
            <li class="burger__window-item">
              <a href="#" class="burger__window-link">Карта станций</a>
            </li>
            <li class="burger__window-item">
              <a href="#" class="burger__window-link">Контакты и поддержка</a>
            </li>
            <li class="burger__window-item">
              <a href="#" class="burger__window-link">Установить приложение</a>
            </li>
          </ul>
          <div class="burger__window-tel">
            <img src={contact} alt="tel-icon" />
            8 800 123 45 67
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<script>
  // Создаем функцию, для отслеживания клика по бургеру и анимация бургера, путем удаления и добавления классов
  function handlerClick() {
    const burgerBtn = document.querySelector('.burger'),
      burgerBar = document.querySelectorAll('.burger__bar'),
      burgerWindow = document.querySelector('.burger__window'),
      burgerWrapper = document.querySelector('.wrapper');
    burgerBtn.addEventListener('click', () => {
      burgerBar.forEach((item) => {
        if (item.classList[1] === 'burger-unclick') {
          item.classList.remove('burger-unclick');
          item.classList.add('burger-clicked');
          burgerWindow.classList.remove('hidden');
          burgerWrapper.classList.add('wrapper_blur');
        } else {
          item.classList.add('burger-unclick');
          item.classList.remove('burger-clicked');
          burgerWindow.classList.add('hidden');
          burgerWrapper.classList.remove('wrapper_blur');
        }
      });
    });
  }
  function handlerMenuClick() {
    const menuBtn = document.querySelector('.nav__link-btn'),
      menuContent = document.querySelector('.nav__link__content'),
      arrow = document.querySelector('.nav__link-img');

    // question__subtitle-img-up
    menuBtn.addEventListener('click', () => {
      console.log('123');
      menuContent.classList.toggle('visible');
      arrow.classList.toggle('question__subtitle-img-up');
    });
  }
  handlerClick();
  handlerMenuClick();
</script>
