---
import Tabs from './little/Tabs.astro';
---

<div class="wrapper">
  <div class="container">
    <div class="hero">
      <div class="hero__content">
        <h2 class="hero__content-title">
          Арендуй пауэрбанк по цене кофе.<br /> В нужное время в нужном месте
        </h2>
        <div class="hero__content-btn">
          <a class="btn__install">
            <p>Установить приложение</p>
            <img class="btn__install-img" src="/assets/icons/arrow-right.png" alt="arrow-icon" />
          </a>
          <a class="btn-ios">
            <img src="/assets/icons/ios.svg" alt="ios-img" />
          </a>
          <a class="btn-android">
            <img src="/assets/icons/play.svg" alt="android-img" />
          </a>
        </div>
        <div class="hero__content-video">
          <img src="/assets/video.png" alt="video-img" />
        </div>
      </div>
      <div class="hero__info">
        <div class="hero__info-text">
          Не переживай, если батарея на исходе.<p>
            Возьми пауэрбанк напрокат, пока совершаешь покупки или находишься на деловой встрече —
            вокруг тысячи станций.
          </p>
        </div>
        <div class="hero__info-aside">
          <img class="hero__info-phone" src="/assets/phone.jpg" alt="phone-img" />
        </div>
      </div>
      <div class="price">
        <div class="price__left">
          <img src="/assets/icons/rub.svg" alt="rub-icon" class="price__left-img" />
          <h2 class="price__left-title">100 ₽ / 24 часа</h2>
          <p class="price__left-text">
            Тарифы в разных локациях отличаются — смотри актуальные цены в приложении.
          </p>
        </div>
        <div class="price__right">
          <h2 class="price__right-title">Установи приложение и арендуй пауэрбанк</h2>
          <div class="price__right-btn">
            <a class="price__right-btn-link">
              <p>Установить приложение</p>
              <img class="btn__install-img" src="/assets/icons/arrow-right.png" alt="arrow-icon" />
            </a>
            <a class="btn-ios">
              <img src="/assets/icons/ios.svg" alt="ios-img" />
            </a>
            <a class="btn-android">
              <img src="/assets/icons/play.svg" alt="android-img" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="promo">
      <img src="/assets/promo_qr.png" alt="promo__qr-img" class="promo-qr" />
      <div class="promo__mobile">
        <img class="promo__mobile-phone" src="/assets/phone.jpg" alt="phone-img" />
      </div>
      <div class="promo__info">
        <img src="/assets/set-icon.svg" alt="promo-img" class="promo__info-img" />
        <h2 class="promo__info-text">Бери заряд и заряжайся по пути</h2>
      </div>
    </div>
    <Tabs />
  </div>
</div>
