---
import info from '../images/info.png';
import set from '../images/set-icon.svg';
---

<div class="container">
  <div class="info">
    <img src={info} alt="info-img" />
    <div class="info__desc">
      <h2 class="info__desc-title">Бесплатно установи зарядную станцию в свое заведение</h2>
      <p class="info__desc-text">
        Мы возьмем на себя техобслуживание и поддержку клиентов. Работаем с любыми проектами: от
        кафе до крупных торговых сетей.
      </p>
      <button class="info__desc-btn">Узнать подробнее</button>
    </div>
  </div>
  <div class="advantages-block">
    <div class="aside__desc">
      <h2 class="aside-title">Инвестируй и зарабатывай вместе с нами</h2>
      <p class="aside-text">
        Стань частью самой масштабной сети пауэрбанк-шеринга на европейском континенте
      </p>
      <button class="aside-btn">Стать партнёром</button>
    </div>
    <div class="advantages">
      <div class="advantages__item">
        <img src={set} alt="set-icon" />
        <h4></h4>
      </div>
    </div>
  </div>
</div>
