---
import Header from './Header.astro';
import Footer from './Footer.astro';
import Tabs from './little/Tabs.astro';
import Question from './little/Question.astro';
---

<Header />
<div class="wrapper">
  <div class="container">
    <div class="pricing">
      <div class="hero__content">
        <h2 class="hero__content-title">
          Пауэрбанк по цене пончика.<br /> Где и когда угодно
        </h2>
        <div class="hero__content-btn">
          <a class="btn__install">
            <p>Установить приложение</p>
            <img class="btn__install-img" src="/assets/icons/arrow-right.png" alt="arrow-icon" />
          </a>
          <a class="btn-ios">
            <img src="/assets/icons/ios.svg" alt="ios-img" />
          </a>
          <a class="btn-android">
            <img src="/assets/icons/play.svg" alt="android-img" />
          </a>
        </div>
        <div class="hero__content-video">
          <img src="/assets/video.png" alt="video-img" />
        </div>
      </div>
      <div class="price">
        <div class="price__left">
          <img src="/assets/icons/rub.svg" alt="rub-icon" class="price__left-img" />
          <h2 class="price__left-title">100 ₽ / 24 часа</h2>
          <p class="price__left-text">
            Тарифы в разных локациях отличаются — смотри актуальные цены в приложении.
          </p>
        </div>
        <div class="price__right">
          <h2 class="price__right-title">Установи приложение и арендуй пауэрбанк</h2>
          <div class="price__right-btn">
            <a class="price__right-btn-link">
              <p>Установить приложение</p>
              <img class="btn__install-img" src="/assets/icons/arrow-right.png" alt="arrow-icon" />
            </a>
            <a class="btn-ios">
              <img src="/assets/icons/ios.svg" alt="ios-img" />
            </a>
            <a class="btn-android">
              <img src="/assets/icons/play.svg" alt="android-img" />
            </a>
          </div>
        </div>
      </div>
      <Tabs />
      <Question />
      <div class="refer">
        <h2 class="refer-title">Подари другу 100 ₽ на первую аренду</h2>
        <p class="refer-text">Просто отправь ему ссылку ниже</p>
        <div class="refer__link">
          <div class="refer__link-copy">
            <img src="/assets/icons/copy.svg" alt="copy icon" />
            <p>zaradtyt.page.link/8mCm</p>
          </div>
          <button class="refer__link-btn">Копировать ссылку</button>
        </div>
      </div>
    </div>
  </div>
</div>

<Footer />
